<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foo</title>
  </head>
  <body>
    <h1>{{ _heading }}</h1>
    <p>{{ _paragraph1 }}</p>
    <p>{{ _paragraph2 }}</p>
  </body>
</html>
